
header{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    button{
        border-radius:10px;
        height: fit-content;
        background-color: transparent;
        transition: .7s;
        *{color: var(--light);}
    }
    button:hover{
        background-color: var(--light);
        *{color: var(--dark);}
    }
    h1{
        font-family:'matemasie';
        font-size: x-large;
        transition: .7s;
        height: 49px;
        overflow-y: hidden;
        cursor: pointer;
    }
    h1:hover{
        font-size: 27px;
    }
}