
.dashboard{
    margin-top: 2px;
    .searchBar{
        margin: auto;
        width: 350px;
        max-width: 95vw;
        display: flex;
        border-radius:20px;
        overflow: hidden;
        align-items: center;
        background-color: var(--light);
        padding: 3px;
        margin-top: 2px;
        box-shadow: 0px 0px 1px transparent inset;
        outline: 2px solid var(--blue);
        transition: 0.5s;
        *{color: var(--dark)}
    }
    .searchBar span{
        margin: 3px;
    }
    .searchBar:focus-within{
        box-shadow: 0px 0px 7px var(--blue) inset;
        outline: 2px solid var(--blue) ;
    }
    small{
        font-size:small;
    }
    input{
        width: 100%;
        border: none;
        outline: none;
        font-weight: 500;
        height: 34px;
        border-radius: 17px;
        padding-left: 5px;
        background-color: transparent;
    }
    
    .usersName{
        height: calc(100vh - 107px);
        overflow: scroll;
        scrollbar-width: none;
        color: var(--light);
        width: fit-content;
        margin: auto;
        margin-top: 3px;
    }
    .userBar{
        display: flex;
        align-items: center;
        width: 400px;
        max-width: 97vw;
        cursor: pointer;
        margin-top: 4px;
        transition: .5s;
        padding: 0px 3px;
        border-radius: 20px;
    }
    .userBar:hover{
        background-color: rgba(0, 0, 0, .3);
    }
    .userBar div{
        width: 100%;
        padding:5px 3px;
    }
    .userBar div i{
        display: flex;
        font-size: x-small;
        color: var(--blue);
    }
    img{
       margin-right: 4px;
       height: 30px;
       width: 30px;
       border-radius: 50%;
       border: 1px solid grey;
    }
}