
.dashboard{
    .searchBar{
        margin: auto;
        width: 350px;
        max-width: 95vw;
        display: flex;
        border-radius:20px;
        overflow: hidden;
        align-items: center;
        background-color: var(--light);
        padding: 3px;
        margin-top: 9px;
        outline: 9px solid transparent;
        transition: .7s;
        *{color: var(--dark)}
    }
    .searchBar span{
        margin: 3px;
    }
    .searchBar:focus-within{
        outline: 3px solid var(--blue);
    }
    
    input{
        width: 100%;
        border: none;
        outline: none;
        font-weight: 500;
        height: 41px;
        border-radius: 17px;
        padding-left: 5px;
        background-color: transparent;
    }
    
    .usersName{
        height: calc(100vh - 120px);
        overflow: scroll;
        scrollbar-width: none;
        width: fit-content;
        margin: auto;
        margin-top: 3px;
    }
    .userBar{
       margin-top: 10px;
       width: 400px;
       max-width: 98vw;
       position: relative;
       cursor: pointer;
       transition: .3s;
       border-radius: 25px;
    }

    .userBar:active{
        transform: scale(.9);
    }
    .userBar:hover{
        background-color: rgb(0, 0, 0);
        b{color: var(--blue);}
        i{color: var(--light);}
    }
    .userBar div{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 65px;
        top: 12px;
    }
    small{
        position: absolute;
        right: 3px;
        top: 24px;
    }
    .userBar div i{
        color: var(--blue);
        font-size: small;
    }
    .userBar div b{
        color: var(--light);
        font-size: large;
    }
    .userBar img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin:2px
    }
}