
.login,.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        overflow: hidden;
        padding: 10px;
        background-color: var(--light);
    }
    h2{
        margin-bottom: 10px;
        color: var(--dark);
    }
    input{
        height: 25px;
        width: 200px;
        max-width: 100%;
        padding: 3px;
        font-weight: 500;
    }
    .input{
        position: relative;
        span{
            position: absolute;
            right: 7px;
            top: 7px;
            background-color: white;
        }
    }
    small{
        color: red;
        height: 17px;
        display: block;
    }
    button{
        height: 35px;
        width: 100%;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--dark);
    }
    button:active{
        color: red;
        font-size: large;
    }
    u{
        color: blue;
        cursor: pointer;
    }
    u:active{color: red;}
}
.login{
    button{background-color: var(--blue);}
    input:focus{
        outline: 2px ridge var(--blue);
    }
    input{
        border:1px solid var(--blue);
    }
    .input span{
        *{color: var(--blue);}
    }
}
.signup{
    button{background-color: var(--orange);}
    input:focus{
        outline: 2px ridge var(--orange);
    }
    input{
        border:1px solid var(--orange) ;
    }
    .input span{
        *{color: var(--orange);}
    }
}
