
.login,.signup{
    display: flex;
    justify-content: center;
    align-items: start;
    form{
        overflow: hidden;
        padding: 10px;
        background-color: var(--light);
    }
    h2{
        margin-bottom: 10px;
        color: var(--dark);
    }
    input{
        height: 30px;
        width: 300px;
        max-width: 100%;
        padding: 3px;
        font-weight: 500;
    }
    .input{
        position: relative;
        span{
            position: absolute;
            right: 7px;
            top: 7px;
            background-color: white;
        }
    }
    small{
        color: red;
        height: 17px;
        display: block;
    }
    button{
        height: 40px;
        width: 100%;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--dark);
        transition: 0.3s;
    }
    button:active{
        color: red;
        transform: scale(.9);
    }
    u{
        color: blue;
        cursor: pointer;
    }
    u:active{color: red;}
}
.login{
    button{background-color: var(--blue);}
    input:focus{
        outline: 2px ridge var(--blue);
    }
    input{
        border:1px solid var(--blue);
    }
    .input span{
        *{color: var(--blue);}
    }
}
.signup{
    .img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        outline: 2px solid var(--orange);
        background-color: var(--orange);
        display: flex;
    }
    .imgInput{
        position: relative;
        width: 120px;
        margin: auto;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgInput label{
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
    }
    .imgInput input{
        display: none;
    }
    .imgInput img{
        width: 100%;
    }
    .imgInput button{
        width: 50px;
        margin: auto;
        border-radius: 50%;
    }
    button{background-color: var(--orange);}
    input:focus{
        outline: 2px ridge var(--orange);
    }
    input{
        border:1px solid var(--orange) ;
    }
    .input span{
        *{color: var(--orange);}
    }
}
