.message {
    margin-top: 1px;
    display: flex;
    justify-content: space-around;

    .section1 {
        width: 400px;

        .searchBar {
            margin: auto;
            width: 350px;
            max-width: 95vw;
            display: flex;
            border-radius: 20px;
            overflow: hidden;
            align-items: center;
            background-color: var(--light);
            padding: 3px;
            margin-top: 9px;
            outline: 9px solid transparent;
            transition: .7s;

            * {
                color: var(--dark)
            }
        }

        .searchBar span {
            margin: 3px;
        }

        .searchBar:focus-within {
            outline: 3px solid var(--blue);
        }

        small {
            font-size: small;
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            font-weight: 500;
            height: 41px;
            border-radius: 17px;
            padding-left: 5px;
            background-color: transparent;
        }

        .usersName{
            height: calc(100vh - 120px);
            overflow: scroll;
            scrollbar-width: none;
            width: fit-content;
            margin: auto;
            margin-top: 3px;
        }
        .userBar{
           margin-top: 10px;
           width: 400px;
           max-width: 98vw;
           position: relative;
           cursor: pointer;
           transition: .3s;
           border-radius: 25px;
        }
    
        .userBar:active{
            transform: scale(.9);
        }
        .userBar:hover{
            background-color: rgb(0, 0, 0);
            b{color: var(--blue);}
            i{color: var(--light);}
        }
        .userBar div{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 65px;
            top: 12px;
        }
        small{
            position: absolute;
            right: 3px;
            top: 24px;
        }
        .userBar div i{
            color: var(--blue);
            font-size: small;
        }
        .userBar div b{
            color: var(--light);
            font-size: large;
        }
        .userBar img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin:2px
        }
    }

    .section2 {
        width: 800px;
        max-width: 50%;
        background-color: rgba(0, 0, 0, .3);

        .receiverName {
            * {
                color: var(--dark);
            }

            display: flex;
            align-items: center;
            column-gap: 9px;
            margin: auto;
            width: calc(100% - 4px);
            padding: 2px;
            background-color: var(--light);
        }

        .receiverName div small {
            display: block;
            font-size: small;
        }

        .receiverName button {
            background-color: transparent;
            transition: .5s;
            border-radius: 7px;
        }

        .receiverName button:hover {
            background-color: rgba(0, 0, 0, .5);

            * {
                color: var(--light);
            }
        }

        .receiverName img {
            width: 57px;
            height: 57px;
            border-radius: 50%;
            border: 1px solid grey;
        }

        .messageBox {
            height: calc(100vh - 200px);
            overflow-y: scroll;
            scrollbar-width: none;
            width: calc(100% - 2px);
            margin: auto;
        }

        .messageBox .ref {
            height: 40px;
            clear: both;
            text-align: right;
            color: var(--orange);
        }

        pre {
            clear: both;
            max-width: 80%;
            overflow-wrap: break-word;
            white-space: pre-wrap;
            margin: 2px;
            padding: 4px;
            color: var(--dark);
        }

        pre div {
            display: flex;
            flex-direction: column;
            width: fit-content;
            max-width: 200px;
            overflow: hidden;
        }
        pre img{
            width: 80px;
        }

        .p1 {
            float: right;
            border-radius: 10px 10px 0px 10px;
            background-color: var(--blue);
        }

        .p2 {
            float: left;
            border-radius: 0px 10px 10px 10px;
            background-color: white;
        }

        .formDiv {
            display: flex;
            background-color: var(--light);
            align-items: center;
            position: relative;
        }
        .imgPrevDiv{
            position: absolute;
            padding: 3px;
            bottom: 67px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .imgPrevDiv img{
            background-color: var(--blue);
            border-radius: 9px;
            width: 200px;
            max-width: calc(100vw - 70px);
        }
        .imgPrevDiv button{
            padding: 3px;
            border-radius: 4px;
            font-size: large;
          display: flex;
        }

        .messageForm {
            display: flex;
            align-items: center;
            width: 100%;
            overflow: hidden;
            margin: auto;
        }

        .messageForm textarea {
            width: 100%;
            height: 60px;
            padding: 4px;
            resize: none;
            border: none;
            margin: 3px;
            border-radius: 10px;
            scrollbar-width: thin;
            outline: 9px solid transparent;
            transition: .7s;
            color: var(--dark);
            font-weight: 500;
        }

        .messageForm textarea:focus {
            outline: 2px solid var(--blue);
        }

        .imgForm {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .imgForm {
            .file,.submit{ 
                width: 50px;
                height: 50px;
                margin: 0px 3px;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                input{
                   display: none;
                }
                label{
                    position: absolute;
                    background-color:var(--light);
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px black inset;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
            }
        }

        .imgForm button{
            rotate: 42deg;
            transition: 0.3s;
            background-color: transparent;
        }
        
        .messageForm button {
            * {
                color: var(--dark);
            }

            rotate: 42deg;
            margin-right: 10px;
            margin-left: -5px;
            transition: 0.3s;
            background-color: transparent;
        }

        .messageForm button:active ,.imgForm button:active{
            transform: scale(.5);
        }
    }
}

@media only screen and (max-width:1000px) {
    .message {
        .section2 {
            max-width: 100%;
        }

        .section1 {
            display: none;
        }
    }
}

@media only screen and (max-width:300px) {
    .message {
        .receiverName b {
            font-size: small;
        }

        .receiverName div small {
            font-size: x-small;
        }
    }
}